ansi
beautifulsoup4
bottle
cffi
colorlog
cryptography
daemonize
dnspython
dnspython3
elasticsearch
errbot
idna
jenkinsapi
Jinja2
Markdown
MarkupSafe
paramiko
#pkg-resources
pyasn1
pycparser
Pygments
pygments-markdown-lexer
pyOpenSSL
pytz
requests
rocket-errbot
six
threadpool
urllib3
waitress
WebOb
WebTest
Yapsy
